
<!-- ===== debut fragmentDoctolibJumbotron -->
<!-- Les jumbotrons de BT3 n'existe plus et sont remplacés par de simple div -->       
<div class="mt-4 p-5 bg-success text-white rounded">

  <h1>Amélioration du code MVC</h1>
  <p>Bien que le pattern MVC possède des avantages comme la possibilité de développer à plusieurs niveaux en parralèle
      ainsi que de donner la possibilité de tester le code de manière plus simple grâce à la décorrélation des vues et de la logique.<br>
      On peut néanmoins y trouver des incovénients, un de ces incovénients est le nombre important d'intéractions entr les modèles et les vues.
      <br>Pour contourner ce problème on peut utiliser le modèle flux qui a été mis au point pour combler ces manquements.<br>
  
  </p>

</div>
<p/>



<!-- ===== fin fragmentDoctolibJumbotron -->

