
<!-- ===== debut fragmentDoctolibJumbotron -->
<!-- Les jumbotrons de BT3 n'existe plus et sont remplacés par de simple div -->       
<div class="mt-4 p-5 bg-success text-white rounded">

  <h1>Fonctionnalité originale</h1>
  <p>Bien que le maniement de la base de données à l'aide du ModèlePersonne est efficace, 
      il faut néanmoins écrire un nombre un nombre fonction importante pour extraire les informations requises de la base sql.
      <br>
      Pour améliorer cela, on peut au lieu de créer une fonction par requête, on peut créer une super requête qui peut prendre en compte tout les paramètres possibles en fonction de quel controller est appellé.
      <br> 
      De cette façon une fois la fonction terminée, la seule chose à faire est de faire passer les informations de la base de données que l'on veut par le controller qui convient.
      Ainsi on aurait le même nombre de fonction dans controlleur mais une seule, réutilisable à l'infini comme modèle.
  </p>

</div>
<p/>



<!-- ===== fin fragmentDoctolibJumbotron -->

